<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '486582924883427',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>


<!-- =========== Background first =========== -->


<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class= "carousel-caption">
      </div>         
      <img src="https://khaliladis.files.wordpress.com/2014/11/2012-01-13-jb-causeway-172.jpg" alt="First slide" > 
    </div>
      </div> 
    </div>
  </div>
</div> -->


<div>
  <img src="https://khaliladis.files.wordpress.com/2014/11/2012-01-13-jb-causeway-172.jpg" style="width:100%; height:500px;">
</div>

<div class="search">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-section">
          <div class="row">
            <form role="form">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="sr-only" for="location">Location</label>
                  <input type="email" class="form-control" id="location" placeholder="Where ?">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="checkin">Check in</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="checkin" placeholder="Check in">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="checkout">Check out</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="checkout" placeholder="Check out">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="guest">Guest</label>
                  <select id="guest" name="guest" class="form-control">
                    <option value="1">1 Guest</option>
                    <option value="2">2 Guests</option>
                    <option value="3">3 Guests</option>
                    <option value="4">4 Guests</option>
                    <option value="5">5 Guests</option>
                    <option value="6">6 Guests</option>
                    <option value="7">7 Guests</option>
                    <option value="8">8 Guests</option>
                    <option value="9">9 Guests</option>
                    <option value="10">10 Guests</option>
                    <option value="11">11 Guests</option>
                    <option value="12">12 Guests</option>
                    <option value="13">13 Guests</option>
                    <option value="14">14 Guests</option>
                    <option value="15">15 Guests</option>
                    <option value="16">16+ Guests</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-default btn-primary">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- =========== Background second =========== -->


<div id="img-slider">
  <div class="row">
    <div class="col lrg-12">

      <div class="slider-wrap">
        <div class="slider">
          <div class="outer">
            <div class="tray">
              <section id="all-articles" style="left:-100%;"><img src="http://placehold.it/650x500/2ecc71/ffffff"></section>
              <section id="featured-articles" style="left:0%;" class="current"><img src="http://placehold.it/650x500/e74c3c/ffffff"></section>
              <section id="popular-articles" style="left:100%;"><img src="http://placehold.it/650x500/3498db/ffffff"></section>
              <section id="new-articles" style="left:200%;"><img src="http://placehold.it/650x500/f39c12/ffffff"></section>
            </div>
          </div>
          <div class="mask left">
            <a href="#" class="arrow left"><span>All</span></a>
          </div>
          <div class="mask right">
            <a href="#" class="arrow right"><span>Popular</span></a>
          </div>
        </div>
        <nav class="slider-nav">
          <ul>
            <li class="current"><a href="#featured-articles">Featured</a></li>
            <li><a href="#popular-articles">Popular</a></li>
            <li><a href="#new-articles">New</a></li>
            <li><a href="#all-articles">All</a></li>
          </ul>
          <span class="highlight"></span>
        </nav>
      </div>

    </div>
  </div>
</div> <!--/ =========== Background second =========== -->



