


    <div class="header">
        <div class="w-container contents">
            <div class="main-heading-wrapper">
                <h1 class="headhead" data-ix="fade-in-heading">Shortstayz&nbsp;</h1>
                <!-- <h1 class="headhead" data-ix="fade-in-heading-2">Interactions</h1> -->
                <h1 class="without-code" data-ix="fade-in-heading-3">Local</h1>
                <h1 class="without-code" data-ix="fade-in-heading-4">You</h1>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/5317d67d660658b254000454/js/webflow.js?2f83b8326cc4c8f7327b5dba30444a37"></script>





      <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
         <div class="item active">
           <div class= "carousel-caption">
           </div>
           <%= image_tag("jb.jpg") %>
         </div>
         <div class="item">
           <%= image_tag("kl.jpg") %>
           <div class= "carousel-caption">
           </div>
         </div>
         <div class="item">
           <%= image_tag("mulu.jpg") %>
           <div class= "carousel-caption">
           </div>
         </div>
       </div>
       <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> -->

      <div class="search">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="form-section">
              <div class="row">
                <form role="form">
                  <div class="col-md-4" id="searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="location">Location</label>
                      <input type="email" class="form-control" id="location" placeholder="Where ?">
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="checkin">Check in</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="checkin" placeholder="Check in">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="checkout">Check out</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="checkout" placeholder="Check out">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <div class="form-group">
                      <label class="sr-only" for="guest">Guest</label>
                      <select id="guest" name="guest" class="form-control">
                        <option value="1">1 Guest</option>
                        <option value="2">2 Guests</option>
                        <option value="3">3 Guests</option>
                        <option value="4">4 Guests</option>
                        <option value="5">5 Guests</option>
                        <option value="6">6 Guests</option>
                        <option value="7">7 Guests</option>
                        <option value="8">8 Guests</option>
                        <option value="9">9 Guests</option>
                        <option value="10">10 Guests</option>
                        <option value="11">11 Guests</option>
                        <option value="12">12 Guests</option>
                        <option value="13">13 Guests</option>
                        <option value="14">14 Guests</option>
                        <option value="15">15 Guests</option>
                        <option value="16">16+ Guests</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 searchsearch">
                    <button type="submit" class="btn btn-default btn-primary" id="submit_search">Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- </br> -->



      <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Discover</h3>
                        <p class="text-muted">Discover new places to enjoy a short vacation, be it a small lodge, entire homes and unique property like a tree house and a mansion on the hilltop</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe text-primary sr-icons"></i>
                        <h3>Connect</h3>
                        <p class="text-muted">Connect with hosts, confirm travel dates, and pay – all through Shortstayz’s trusted services</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Enjoy</h3>
                        <p class="text-muted">Away from home, feel like home anywhere in Malaysia. Learn more about how to travel on Shortstayz</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Become a Host  -->

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Hosting opens up a world of opportunity</h2>
                    <hr class="light">
                    <p class="text-faded">Earn money hosting and share your experience with travelers.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Section Places  -->
    <!-- areas -->
      <section class="areas">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-center">
              <div class="toolbar mb2 mt2">
                <button class="btn fil-cat" href="" data-rel="all">All</button>
                <button class="btn fil-cat" data-rel="web">City</button>
                <button class="btn fil-cat" data-rel="flyers">Villages</button>
                <button class="btn fil-cat" data-rel="bcards">Beach</button>
              </div>

              <div id="portfolio">
                <div class="tile scale-anm web all">
                  <a href="">
                      <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/2-mon_1092-300x234.jpg" alt="" />
                    </a>
                </div>
                <div class="tile scale-anm bcards all">
                  <a href="">
                  <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" />
                </a>
                </div>
                <div class="tile scale-anm web all">
                  <a href="">
                  <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" />
                </a>
                </div>
                <div class="tile scale-anm web all">
                  <a href="">
                          <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/codystretch-300x270.jpg" alt="" />
                        </a>
                </div>
                <div class="tile scale-anm flyers all">
                  <a href="">
                  <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" />
                </div>
                <div class="tile scale-anm flyers all">
                  <a href="">
                  <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/transmission_01-300x300.jpg" alt="" />
                </a>
                </div>
                <div class="tile scale-anm web all">
                  <a href="">
                      <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/the-ninetys-brand_02-300x300.jpg" alt="" />
                    </a>
                </div>
                <div class="tile scale-anm bcards all">
                          <a href="">
                            <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/15-dia_1092-1-300x300.jpg" alt="" />
                          </a>
                </div>
                <div class="tile scale-anm bcards all">
                        <a href=""><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" />
                        </a>
                </div>
                <div class="tile scale-anm web all">
                          <a href=""><img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/transmission_01-300x300.jpg" alt="" />
                          </a>
                </div>
              </div>


            </div>
            <div style="clear:both;"></div>
      </section>






<!-- testimonial -->
      <section class="testimonial">
        <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                  <!-- Carousel Slides / Quotes -->
                  <div class="carousel-inner text-center">
                      <!-- Quote 1 -->
                      <div class="item active">
                          <blockquote>
                              <div class="row">
                                  <div class="col-sm-8 col-sm-offset-2">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                      <small>Someone famous</small>
                                  </div>
                              </div>
                          </blockquote>
                      </div>
                      <!-- Quote 2 -->
                      <div class="item">
                          <blockquote>
                              <div class="row">
                                  <div class="col-sm-8 col-sm-offset-2">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                      <small>Someone famous</small>
                                  </div>
                              </div>
                          </blockquote>
                      </div>
                      <!-- Quote 3 -->
                      <div class="item">
                          <blockquote>
                              <div class="row">
                                  <div class="col-sm-8 col-sm-offset-2">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                      <small>Someone famous</small>
                                  </div>
                              </div>
                          </blockquote>
                      </div>
                  </div>
                  <!-- Bottom Carousel Indicators -->
                  <ol class="carousel-indicators">
                      <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                      </li>
                      <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt="">
                      </li>
                      <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                      </li>
                  </ol>

                  <!-- Carousel Buttons Next/Prev -->
                  <a data-slide="prev" data-target="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                  <a data-slide="next" data-target="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
              </div>
          </div>
      </div>

  </div>
      </section>


      <!-- Section Learn More -->

        <section id="explore" style="padding-bottom: 100px;">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: black;">Learn More</h2>
                <hr class="primary" style="border-color: black;">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 text-center">
              <div class="col-lg-4">
                <figure class="snip1494" >
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample15.jpg" alt="sample15" />
                  <figcaption>
                    <div><i class="ion-ios-home-outline"></i></div>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>

              <div class="col-lg-4">
                <figure class="snip1494 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample17.jpg" alt="sample17" />
                  <figcaption>
                    <div><i class="ion-help-buoy"></i></div>
                  </figcaption>
                  <a href="#"></a>
                </figure>
              </div>

              <div class="col-lg-4">
                <figure class="snip1494"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample20.jpg" alt="sample20" />
                  <figcaption>
                    <div><i class="ion-map"></i></div>
                  </figcaption>
                  <a href="#"></a>
                  </figure>
                </div>
              </div>
            </div>
        </section>





    <script>

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '486582924883427',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    </script>

    <script type="text/javascript">

      $(".hover").mouseleave(
        function () {
          $(this).removeClass("hover");
        }
      );

    </script>

    <script>
    var vid = document.getElementById("bgvid");
    var pauseButton = document.querySelector("#polina button");

    function vidFade() {
    vid.classList.add("stopfade");
    }

    vid.addEventListener('ended', function()
    {
    // only functional if "loop" is removed
    vid.pause();
    // to capture IE10
    vidFade();
    });


    pauseButton.addEventListener("click"  , function() {
    vid.classList.toggle("stopfade");
    if (vid.paused) {
    vid.play();
    pauseButton.innerHTML = "Pause";
    } else {
    vid.pause();
    pauseButton.innerHTML = "Paused";
    }
    })


    </script>

    <script>
    var TxtRotate = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 300 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function() {
        that.tick();
      }, delta);
    };

    window.onload = function() {
      var elements = document.getElementsByClassName('txt-rotate');
      for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-rotate');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtRotate(elements[i], JSON.parse(toRotate), period);
        }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
      document.body.appendChild(css);
    };
    </script>

    <script type="text/javascript">
    $(function() {
  var selectedClass = "";
  $(".fil-cat").click(function(){
  selectedClass = $(this).attr("data-rel");
   $("#portfolio").fadeTo(100, 0.1);
  $("#portfolio div").not("."+selectedClass).fadeOut().removeClass('scale-anm');
  setTimeout(function() {
    $("."+selectedClass).fadeIn().addClass('scale-anm');
    $("#portfolio").fadeTo(300, 1);
  }, 300);

});
});
    </script>



<!-- credits -->
<!-- http://codepen.io/nikhil/pen/pJBMPp -->
<!-- http://codepen.io/littlesnippets/pen/WxbvQx -->
<!-- http://codepen.io/creotip/pen/dfjeF -->
