

<table class="table" style="width:100%">
	<tr>
		<th><strong>No.</strong>
		<th><strong>Booking id number</strong></th>
		<th><strong>Check in date</strong></th>
		<th><strong>Check out date</strong></th>
	</tr>

	<% @reservations.each.with_index do |reserve, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= reserve.id %></td>
			<td><%= reserve.check_in %></td>
			<td><%= reserve.check_out %></td>
		</tr>
	<% end %>
</table>


