
/*---------------------------------------------------*/

 .table {
  width: 300px;
  color: blue;
 }


/*---------------- profile picture -------------------*/
.avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.avatar img {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*------------------ listing_images -------------------*/
.image {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.image img {

/*  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;*/
}

/*------------ home page/image/booking calendar ------------*/

body {
  padding-bottom: 40px;
  background-color: #e3e3e3;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-list {
  align-items: center;
  position: absolute;
  height: 300px;
  width: 300px;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
 
}

.listing_image > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0%;
 
}
.search {
  margin-top: -25%;
}
.search .form-section{
  background:rgba(0,0,0,0.6);
  border: 2px solid #414141;
  border-radius: 5px;
  padding: 10px;
  margin-top: 150px;
}

/*-------------navbar---------------*/

.navbar {
  margin-bottom: 0px !important
}


/*------ booking table -------*/
.table {
  width: 100%;
}


/*-------- User dashboard --------*/
.dashboard {
  margin: 0 auto;
}

.fade{
  display:none;
}



/*--------- Listing cards --------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

figure.snip1174 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  /*margin: 10px 1%;*/
  min-width: 220px;
  max-width: 400px;
  width: 111%;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
}
figure.snip1174 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1174 img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.8;
}
figure.snip1174 figcaption {
  position: absolute;
  padding: 10% 30%;
  top: 0;
  left: 0;
}
figure.snip1174 h2,
figure.snip1174 p {
  margin: 0;
  padding: 0;
}
figure.snip1174 h2 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.8em;
}
figure.snip1174 p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4em;
}
figure.snip1174 a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
figure.snip1174 a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
figure.snip1174:hover img,
figure.snip1174.hover img {
  opacity: 100;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.snip1174:hover a,
figure.snip1174.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* Dashboard Section */
.wrapper {
  display: flex;
  min-height: 100%;
  max-height: 435px;
}

.sidebar {
  position: absolute;
  width: 220px;
  color: #333;
  background: #333;
  overflow-x: hidden;
  height: 640px;
}

.content {
  flex: 1;
  padding: 30px;
  background: #eee;
  transform: translate3d(0,0,0);
  transition: transform .3s;
  height: 640px;
}

.content.isOpen {
  transform: translate3d(220px,0,0);
}

.button {
  cursor: pointer;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/* Demo Navigation */

.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.nav-dashboard li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav-dashboard li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

.nav-dashboard li:nth-child(1) a:before { content: '\f00a'; }
.nav-dashboard li:nth-child(2) a:before { content: '\f012'; }
.nav-dashboard li:nth-child(3) a:before { content: '\f0e8'; }
.nav-dashboard li:nth-child(4) a:before { content: '\f0c3'; }
.nav-dashboard li:nth-child(5) a:before { content: '\f022'; }
.nav-dashboard li:nth-child(6) a:before { content: '\f115'; }
.nav-dashboard li:nth-child(7) a:before { content: '\f085'; }
.nav-dashboard li:nth-child(8) a:before { content: '\f023'; left: 23px; }

.nav-dashboard li a:hover {
  background: #444;
}

.nav-dashboard li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}


.nav-profile {
    margin-left: 30%;
    list-style: none;
}
